<!-- <div  class="col-3 c-card">
    <figure class="c-gallery__figure" >
        <img  class="c-gallery__img" src="{{prod.image}}" alt="{{prod.name}}">
        <figcaption class="c-gallery__figcaption">{{editable.name}}</figcaption>
    </figure>
    <p class="c-gallery__number">${{editable.price}}</p>
    <div class="card-footer">
        <small class="c-gallery__text">{{editable.description}}</small>
    </div>
    <div style="display: inline;">
        <div><p class="card-text">{{editable.stars}}</p></div>
        <div><button (click)="selectProduct(prod)" routerLink="/gestion" >Edit</button></div>
        
    </div>
</div> -->