<div class="b-home d-flex">
    <div class="b-text">
        <div class="row text-center d-flex justify-content-center">
            <h4><b>Bienvenido a Shopéame</b></h4>
        </div>
        <div >
            <h6>¿Qué es Shopéame?</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae modi totam! Delectus fuga
                mollitia, dignissimos earum cumque reprehenderit enim sequi culpa beatae necessitatibus temporibus ullam
                deleniti aperiam blanditiis tenetur?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error iure
                debitis voluptatibus fuga perferendis, praesentium culpa soluta nisi nulla quae sunt sint facilis omnis
                doloribus fugit unde optio quibusdam. Minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quis
                corrupti, nemo at in perspiciatis quaerat reiciendis deleniti accusamus error obcaecati saepe nisi quas
                quam
                cumque, pariatur sapiente rerum! Laborum, accusamus?</p>
            <h6>¿Para qué puedo usar Shopéame?</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae modi totam! Delectus fuga
                mollitia, dignissimos earum cumque reprehenderit enim sequi culpa beatae necessitatibus temporibus ullam
                deleniti aperiam blanditiis tenetur?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quo
                enim
                deleniti modi, repellat reiciendis corporis. Provident tenetur nam suscipit, exercitationem cumque nobis
                sunt optio ratione vitae distinctio reprehenderit ut. Lorem, ipsum dolor sit amet consectetur
                adipisicing
                elit. At quam ex voluptate quidem. Eum, doloribus natus fugiat esse, quae nam nulla voluptates deleniti
                temporibus repellendus recusandae alias, neque tempore. Minus!</p>
            <h6>¿Qué hacemos en Shopéame?</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae modi totam! Delectus fuga
                mollitia, dignissimos earum cumque reprehenderit enim sequi culpa beatae necessitatibus temporibus ullam
                deleniti aperiam blanditiis tenetur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
                voluptatum eaque possimus eligendi, quisquam adipisci, quo consequuntur non velit repudiandae corrupti
                est
                totam provident molestiae dolorum ipsum odio maxime assumenda?</p>
            <h6>¿Es seguro usar Shopéame?</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae modi totam! Delectus fuga
                mollitia, dignissimos earum cumque reprehenderit enim sequi culpa beatae necessitatibus temporibus ullam
                deleniti aperiam blanditiis tenetur?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam et
                iure harum. Delectus impedit eaque odit vel cupiditate explicabo possimus tempore voluptatem, adipisci
                eveniet architecto dolor numquam fugit optio provident.</p>

        </div>
    </div>
</div>