<!-- <div class=" b-header row text-center  justify-content-center"></div> -->
    <div class="text-center  justify-content-center">
        <img src="../assets/img/shopeame2.png" alt="">
    </div>
    <div class=" b-header row text-center  justify-content-center">
        <nav>
            <a routerLink="" routerLinkActive="router-link-active" ><img src="../../../../assets/img/home.png" alt=""></a>
            <a routerLink="/products"><img src="../../../../assets/img/prods.png" alt=""></a>
            <a routerLink="/gestion"><img src="../../../../assets/img/gestion.png" alt=""></a>
        </nav>
    </div>

