<!-- <div>
    <p>Síguenos en:</p>
    <nav>
        <a href="">Twitter</a>
        <a href="">Facebook</a>
        <a href="">Instagram</a>
        <a href="">TikTok</a>
    </nav>
    <p>Copyright Shopéame © {{today | date: 'yyyy'}}</p>
</div>
<div class="page-footer font-small indigo"> -->

    <div class="b-footer">
    <div class="container b-footer">
      <div><p class="text-center b-footer__text">Síguenos en:</p></div>
      
      <div class="row text-center d-flex justify-content-center">
        <div class="borderbor col-md-2 mb-3">
          <h6>
            <a class="b-footer__text" href="#!">Twitter</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6>
            <a class="b-footer__text" href="#!">Facebook</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6>
            <a class=" b-footer__text" href="#!">Instagram</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6 >
            <a class=" b-footer__text" href="#!">TikTok</a>
          </h6>
        </div>
      </div>


    <div class="footer-copyright text-center py-3 b-footer__text">
      <p>Copyright Shopéame © {{today | date: 'yyyy'}}</p>
      
    </div>
 </div>   

