<!-- <div class="card-group">
    <div class="card  c-gallery row" *ngFor="let prod of products">
        
        <img class="card-img-top" src="{{prod.image}}" alt="{{prod.name}}">
        <div class="card-body">
            <h6 class="card-title">{{prod.name}}</h6>
            <p class="card-text">{{prod.price}}</p>
            <div class="card-footer">
                <small class="text-muted">{{prod.description}}</small>
            </div>
            <div>
                <p class="card-text">{{prod.stars}}</p>
                <a href="#" class="btn btn-primary">Edit</a>
            </div>
            
        </div>
        
    </div>
</div> -->

        <div  class=" c-card" *ngFor = "let prod of products">
            <figure routerLink="/{{url}}/{{prod.id}}" class="c-gallery__figure" >
                <img  class="c-gallery__img" src="{{prod.image}}" alt="{{prod.name}}">
                <figcaption class="c-gallery__figcaption">{{ nombre === undefined ? prod.name : nombre}}</figcaption>
            </figure>
            <p class="c-gallery__number">${{precio === undefined ? prod.price : precio}}</p>
            <div class="card-footer">
                <small class="c-gallery__text">{{prod.description}}</small>
            </div>
            <div style="display: inline;">
                <div><p class="card-text">{{prod.stars}}</p></div>
                <div><button (click)="selectProduct(prod)" routerLink="/gestion" >Edit</button></div>
                
            </div>
        </div>


